    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Geometria';
        font-size: 20px;
    }
    
    .good_desc {
        width: 60%;
        margin: 50px auto;
        padding: 2%
    }
    
    .model {
        font-size: 28px;
        display: block;
        margin: 20px 0;
    }
    
    .store {
        font-size: 22px;
        width: 50%;
    }
    
    .store span {
        color: rgb(218, 61, 61)
    }
    
    .pict {
        width: 40%;
        float: left;
        object-fit: cover;
        margin-bottom: 2.5%;
    }
    
    .price {
        font-size: 22px;
        display: block;
        position: relative;
        top: -28px;
        font-weight: 700;
        text-align: right;
    }
    
    .price span {
        font-size: 24px;
        color: rgb(218, 61, 61)
    }
    
    .desc {
        margin: 15px;
        text-align: justify;
        color: rgb(112, 110, 107);
    }
    
    .title {
        font-size: 28px;
        color: rgb(218, 61, 61);
        margin: 15px 0;
        clear: both;
        text-align: center;
        text-decoration: underline;
    }
    
    .specification {
        text-align: justify;
        color: rgb(112, 110, 107);
        text-align: justify;
        margin: 5px auto;
    }
    
    .specification:first-letter {
        text-transform: uppercase;
        font-size: 22px;
        color: rgb(218, 61, 61);
    }
    /************* media-querries ************/
    
    @media screen and (min-width: 992px) and (max-width: 1199.99px) {
        .good_desc {
            width: 85%;
            font-size: 19px;
        }
        .model {
            font-size: 24px;
        }
        .store {
            font-size: 22px;
            width: 50%;
        }
        .pict {
            width: 36%;
        }
        .price,
        .desc {
            font-size: inherit;
        }
        .price span {
            font-size: 21px;
        }
        .title {
            font-size: 21px;
        }
        .specification {
            font-size: inherit;
        }
        .specification:first-letter {
            font-size: 21px;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 991.99px) {
        .good_desc {
            width: 88%;
            font-size: 18px;
        }
        .model {
            font-size: 22px;
        }
        .store {
            font-size: 22px;
            width: 50%;
        }
        .pict {
            width: 36%;
        }
        .price,
        .desc {
            font-size: inherit;
        }
        .price span {
            font-size: 21px;
        }
        .title {
            font-size: 21px;
        }
        .specification {
            font-size: inherit;
        }
        .specification:first-letter {
            font-size: 21px;
        }
    }
    
    @media screen and (min-width: 576px) and (max-width: 767.99px) {
        .good_desc {
            width: 96%;
            font-size: 17px;
        }
        .model {
            font-size: 20px;
        }
        .store {
            font-size: 20px;
            width: 50%;
        }
        .pict {
            width: 36%;
        }
        .price,
        .desc {
            font-size: inherit;
        }
        .price span {
            font-size: 20px;
            font-weight: 500;
        }
        .title {
            font-size: 20px;
        }
        .specification {
            font-size: inherit;
        }
        .specification:first-letter {
            font-size: 19px;
        }
    }
    
    @media screen and (max-width: 575.99px) {
        .good_desc {
            width: 100%;
            font-size: 15px;
            position: relative;
            margin: 25px 0;
        }
        .model {
            font-size: 17px;
            margin: 5px 0
        }
        .store {
            font-size: 15px;
            width: 50%;
        }
        .pict {
            width: 36%;
            margin-top: 20px;
        }
        .price {
            position: absolute;
            margin-bottom: 10px;
            top: 2.4%;
            right: 2%;
            text-align: center;
            font-weight: 500;
        }
        .price,
        .desc {
            font-size: 15px;
        }
        .price span {
            font-size: 17px;
            font-weight: 500;
        }
        .title {
            font-size: 17px;
        }
        .specification {
            font-size: inherit;
        }
        .specification:first-letter {
            font-size: 19px;
        }
    }