/************ Общие ******************/

* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Geometria';
    outline: none;
}


/*************** Компонент фильтра **************/

.form {
    width: 20%;
    margin-top: 10px;
    float: left;
    text-align: center;
}

.form fieldset {
    border: 1px solid rgb(177, 177, 170);
    border-radius: 4%;
    box-shadow: 2px 5px 9px rgb(214, 169, 169);
}

.form fieldset {
    border: 1px solid rgb(177, 177, 170);
    border-radius: 4%;
    box-shadow: 2px 5px 9px rgb(214, 169, 169);
}

.form legend {
    color: rgb(218, 61, 61);
    margin: 0 2%;
}


/* Label общие */

.form fieldset label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%
}


/* input и select общие */

.form fieldset input,
#equipment {
    margin-right: 2%;
    border: 1px solid rgb(177, 177, 170);
    border-radius: 4%;
    box-shadow: 2px 5px 5px rgb(214, 169, 169);
    outline: none
}

#equipment {
    color: rgba(0, 0, 0, .6);
    margin: 5% 0;
}


/* input Number и select */

.form .priceInp,
#equipment {
    width: 50%;
}

.form .priceInp::placeholder {
    padding: 3%;
    transition: 0.6s all;
    color: rgba(0, 0, 0, .6)
}

.form .priceInp:focus::placeholder {
    opacity: .1;
    transform: scale(0);
}


/* input Range */

.form .priceRange {
    width: 50%;
    background-color: none;
    box-shadow: none
}

span.range-wrap {
    width: 40%;
    margin-left: 3%;
    text-align: left;
    color: rgb(218, 61, 61)
}


/* Button */

#start {
    margin: 3% auto;
    display: block;
    width: 35%;
    outline: none;
    border: none;
    background-color: rgb(214, 169, 169);
    box-shadow: 2px 5px 5px rgb(214, 169, 169);
    transition: 0.4s all;
}

#start:hover {
    transform: scale(1.2);
    color: rgb(218, 61, 61);
    background-color: rgb(224, 218, 218);
}


/********** корзина *******************/

.cartpage {
    width: 4%;
    position: absolute;
    right: 1%;
    top: 2%;
    text-align: center;
    border: 1px solid #ffb;
    height: auto;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.cartpage__active {
    box-shadow: 3px 3px 7px #b82020;
}

img.cart {
    width: 30%;
    margin: auto;
    vertical-align: middle;
    transform: 0.4s all;
}

img.cart:hover {
    transform: scale(1.5) rotateZ(20deg);
}

span.cartSum {
    color: #b82020;
    font-size: 24px
}


/******** компонент карточек *****************/

.root {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    grid-gap: 2%;
    justify-items: center;
    margin: 100px 20px;
    width: 75%;
    grid-auto-rows: auto;
}

.card {
    width: 65%;
    padding: 2%;
    border: 1px;
    border: 2px solid #ffd;
    border-radius: 2%;
    box-shadow: 2px 5px 5px rgb(214, 169, 169);
}

.card .pict {
    width: 85%;
    margin: 5px auto;
    display: block;
    object-fit: cover;
    transition: 0.4s transform;
}

.card .pict:hover {
    transform: rotateZ(5deg) scale(1.1);
}

.card .model {
    width: 90%;
    text-align: center;
    background-color: #ffd;
    margin: 10px auto;
    font-style: normal;
}

.card .model .id {
    width: 30%;
    text-align: center;
    background-color: #faa;
    display: inline-block;
    text-align: center
}

.card .controll,
.card .price {
    width: 49%;
    text-align: center;
    padding: 2%;
    border: 1px solid rgb(177, 177, 170);
    border-radius: 5%;
    box-shadow: 2px 5px 5px rgb(214, 169, 169);
    display: inline-block
}

.card .controll .plus,
.card .controll .minus {
    padding: 0 5px;
    width: 15%;
    display: inline-block;
    font-size: 20px;
    transition: 0.4s all;
    cursor: pointer;
}

.card .controll .plus:hover,
.card .controll .minus:hover {
    transform: scale(1.8);
    color: rgb(218, 61, 61);
}

.card .controll .amount {
    padding: 0 5px;
    width: 50%;
    display: inline-block;
    color: rgb(69, 133, 228)
}

.card .store {
    margin: 2% 0;
    text-align: center;
    padding: 2%;
    border-radius: 3px;
    box-shadow: 2px 5px 5px rgb(214, 169, 169);
}

.card .store span {
    font-weight: 600;
    color: rgb(218, 61, 61);
}