* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Geometria';
}


/******** LOCALSTORAGE_2.js (CART) *************/

.root {
    background-color: #ffb;
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    flex-wrap: wrap
}

.model {
    width: 44%
}

.store,
.model,
.price,
.summOfModel,
.itogo,
.del,
.all,
.action {
    background-color: #ffd;
    padding: 10px;
    margin: 5px 7px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #ffd;
    outline: none;
}

.summOfModel,
.price {
    width: 15%
}

.store,
.itogo {
    width: 10%;
    text-align: center
}

.del,
.action {
    display: block;
    border: none;
    width: 10%;
    text-align: center;
    background: rgb(218, 61, 61);
    opacity: 0.75;
    border-radius: 10px;
    transition: 0.4s all;
}

.del:hover {
    background: none;
    color: red;
}

.all {
    width: 20%;
    font-weight: bold;
    font-size: 22px;
    color: brown;
}

.itogo {
    font-weight: bold;
    font-size: 22px;
}