* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Geometria';
}


/******** LOCALSTORAGE_2.js (CART) *************/

.root {
    background-color: #ffb;
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 70%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main {
    display: flex;
    width: 100%;
    margin: 10px;
    text-decoration: none;
    color: inherit;
    align-items: center;
    color: rgb(218, 61, 61);
    font-weight: 500;
    font-style: italic;
    transition: 0.4s all
}

.main:hover {
    color: rgba(0, 0, 0, .7);
    font-style: normal;
}

.main img {
    width: 25px;
    height: auto;
    margin: 10px
}

.model {
    width: 44%
}

.store,
.model,
.price,
.summOfModel,
.itogo,
.del,
.all,
.action {
    background-color: #ffd;
    padding: 10px;
    margin: 5px 7px;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #ffd;
    outline: none;
}

.summOfModel,
.price {
    width: 15%
}

.store,
.itogo {
    width: 10%;
    text-align: center
}

.del,
.action {
    display: block;
    border: none;
    width: 10%;
    text-align: center;
    background: rgb(218, 61, 61);
    opacity: 0.75;
    border-radius: 10px;
    transition: 0.4s all;
}

.del:hover {
    background: none;
    color: red;
}

.all {
    width: 20%;
    font-weight: bold;
    font-size: 22px;
    color: brown;
}

.itogo {
    font-weight: bold;
    font-size: 22px;
}

@media screen and (min-width: 1200px) {
    .root {
        width: 89%;
        font-size: 19px;
    }
    .model {
        width: 30%;
        font-size: inherit;
    }
    .summOfModel,
    .price {
        width: 19%;
        font-size: inherit;
    }
    .del,
    .action {
        width: 14%;
        font-size: inherit;
    }
    .itogo,
    .all {
        font-size: inherit;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199.99px) {
    .root {
        width: 92%;
        font-size: 17px;
    }
    .model {
        width: 30%;
        font-size: inherit;
        padding: 5px
    }
    .summOfModel,
    .price {
        width: 18%;
        font-size: inherit;
        padding: 5px
    }
    .del,
    .action {
        width: 14%;
        font-size: inherit;
        padding: 5px
    }
    .itogo,
    .all,
    .store {
        font-size: inherit;
        padding: 5px
    }
}

@media screen and (min-width: 768px) and (max-width: 991.99px) {
    .root {
        width: 98%;
        font-size: 17px;
    }
    .model {
        width: 30%;
        font-size: inherit;
        padding: 5px
    }
    .summOfModel,
    .price {
        width: 18%;
        font-size: inherit;
        padding: 5px
    }
    .del,
    .action {
        width: 14%;
        font-size: inherit;
        padding: 5px
    }
    .itogo,
    .all,
    .store {
        font-size: inherit;
        padding: 5px
    }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
    .root {
        width: 97%;
        font-size: 17px;
    }
    .model {
        width: 30%;
        font-size: inherit;
        padding: 5px
    }
    .summOfModel,
    .price {
        width: 18%;
        font-size: inherit;
        padding: 5px
    }
    .del,
    .action {
        width: 14%;
        font-size: inherit;
        padding: 5px
    }
    .itogo,
    .all,
    .store {
        font-size: inherit;
        padding: 5px
    }
    div.root div.price span,
    div.root div.summOfModel span {
        font-size: 17px;
    }
}

@media screen and (max-width: 575.99px) {
    .root {
        width: 100%;
        font-size: 17px;
    }
    .model {
        width: 30%;
        font-size: inherit;
        padding: 5px
    }
    .summOfModel,
    .price {
        width: 18%;
        font-size: inherit;
        padding: 5px
    }
    .del,
    .action {
        width: 14%;
        font-size: inherit;
        padding: 5px
    }
    .itogo,
    .all,
    .store {
        font-size: inherit;
        padding: 5px
    }
    div.root div.price span,
    div.root div.summOfModel span {
        font-size: 17px;
    }
}